<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div class="text-center" style="margin: 15%">
    <div class="card-group">
      <div class="card">
          <form action="" method="post">
              <label for="inputSearchCPU" class="form-label">CPU</label>
              <input class="form-control" id="inputSearchCPU" placeholder="Type to search..." name="prodotto">
              <button type="submit" class="btn btn-primary" value="CPU" name="tipoProdotto">Submit</button>
          </form>
          <div class="card">
            <img src="{{ url_cpu }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CPU</h5>
              <p class="card-text">{{ nome_cpu }}</p>
              <p class="card-text"><small class="text-muted"> {{ prezzo_cpu}}</small></p>
            </div>
          </div>
          <!--
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">CPU</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>-->
      </div>

      <div class="card">
        <form action="" method="post">
              <label for="inputSearchGPU" class="form-label">GPU</label>
              <input class="form-control" id="inputSearchGPU" placeholder="Type to search..." name="prodotto">
              <button type="submit" class="btn btn-primary" value="GPU" name="tipoProdotto">Submit</button>
          </form>
          <div class="card">
            <img src="{{ url_gpu }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GPU</h5>
              <p class="card-text">{{ nome_gpu }}</p>
              <p class="card-text"><small class="text-muted"> {{ prezzo_gpu}}</small></p>
            </div>
          </div>
      </div>
        <!--
      <div class="card">
        <form action="" method="post">
              <label for="inputSearch" class="form-label">CPU</label>
              <input class="form-control" id="inputSearch" placeholder="Type to search..." name="prodotto">
              <button type="submit" class="btn btn-primary" value="CPU" name="tipoProdotto">Submit</button>
          </form>
          <div class="card">
            <img src="{{ url_cpu }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GPU</h5>
              <p class="card-text">{{ nome_cpu }}</p>
              <p class="card-text"><small class="text-muted"> {{ prezzo_cpu}}</small></p>
            </div>
          </div>-->
      </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>